{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">       
                <div class="layui-card-body" pad15="">
                    <div class="layui-form" lay-filter="">
                        <form action="{:request()->url()}" method="post">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>账号相关设置</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label">用户名</label>
                            <div class="layui-input-inline">
                                <input type="text" name="" value="{$user_data.username}" readonly="" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不可修改。</div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">密码</label>
                            <div class="layui-input-inline">
                                <input type="password" name="password" placeholder="" autocomplete="off" class="layui-input" value="">
                            </div>
                            <div class="layui-form-mid layui-word-aux">不修改请留空。</div>
                        </div>
          <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>客服设置</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label">客服电话</label>
                            <div class="layui-input-inline">
                                <input type="text" name="phone" value="{$user_data.phone}" lay-verify="phone" autocomplete="off" class="layui-input">
                            </div>
                        </div>
                    
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">客服微信二维码</label>
                            <div class="layui-input-block" >
                                {:xn_upload_one($user_data['wximg'],'wximg',0)}
                            </div>
                        </div>
                        
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">客服微信号</label>
                            <div class="layui-input-inline">
                                <input type="text" name="wxhao" value="{$user_data.wxhao}" lay-verify="text"  class="layui-input">
                            </div>
                        </div>
                         <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>团购基本参数设置</legend>
                        </fieldset> 
             
                        
                        <div class="layui-form-item">
                            <label class="layui-form-label">火爆数量</label>
                            <div class="layui-input-inline">
                                <input type="number" name="hot" value="{$user_data.hot}" lay-verify="number" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">销量超过这个数值会显示火爆图标</div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">退款说明</label>
                            <div class="layui-input-block">
                                <textarea name="tuikuan" placeholder="请输入内容" class="layui-textarea">{$user_data.tuikuan}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">公告</label>
                            <div class="layui-input-block">
                                <textarea name="gonggao" placeholder="请输入内容" class="layui-textarea">{$user_data.gonggao}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">洛南简介</label>
                            <div class="layui-input-block">
                                <textarea name="introduct" placeholder="请输入内容" class="layui-textarea">{$user_data.introduct}</textarea>
                            </div>
                        </div>
                        
                         <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>积分设置</legend>
                        </fieldset> 
                        
                            <div class="layui-form-item">
                            <label class="layui-form-label">签到送积分</label>
                            <div class="layui-input-inline">
                                <input type="number" name="qiandao_jifen" value="{$user_data.qiandao_jifen}" lay-verify="number" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">每签到一次送多少积分</div>
                        </div>
                        
                            <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>提现设置</legend>
                        </fieldset> 
                        
                            <div class="layui-form-item">
                            <label class="layui-form-label">可提现金额</label>
                            <div class="layui-input-inline">
                                <input type="number" name="tixian_jine" value="{$user_data.tixian_jine}" lay-verify="number" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">低于此设置无法提现</div>
                        </div>
                           <div class="layui-form-item">
                            <label class="layui-form-label">提现手续费</label>
                            <div class="layui-input-inline">
                                <input type="text" name="tixian_shouxu" value="{$user_data.tixian_shouxu}" autocomplete="off" class="layui-input">
                            </div>
                            <div class="layui-form-mid layui-word-aux">%，提现将扣除这部分作为手续费</div>
                        </div>
                        
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>小程序配置</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label">小程序名称</label>
                            <div class="layui-input-block">
                                <input type="text" name="xcx_title" value="{$user_data.xcx_title}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">APPID</label>
                            <div class="layui-input-block">
                                <input type="text" name="xcx_appid" value="{$user_data.xcx_appid}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">SECRET</label>
                            <div class="layui-input-block">
                                <input type="text" name="xcx_secret" value="{$user_data.xcx_secret}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">原始ID</label>
                            <div class="layui-input-block">
                                <input type="text" name="xcx_original_id" value="{$user_data.xcx_original_id}" class="layui-input">
                            </div>
                        </div>
                        <fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
                            <legend>支付配置</legend>
                        </fieldset>
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付商户号</label>
                            <div class="layui-input-block">
                                <input type="text" name="pay_shanghu" value="{$user_data.pay_shanghu}" class="layui-input">
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <label class="layui-form-label">支付密钥</label>
                            <div class="layui-input-block">
                                <input type="text" name="pay_scret" value="{$user_data.pay_scret}" class="layui-input">
                            </div>
                        </div>
                          <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">* 商户证书(apiclient_cert
</label>
                            <div class="layui-input-block">
                                <textarea name="pay_cert" placeholder="请输入内容" class="layui-textarea">{$user_data.pay_cert}</textarea>
                            </div>
                        </div>
                        
                          <div class="layui-form-item layui-form-text">
                            <label class="layui-form-label">* 商户证书(apiclient_key)
</label>
                            <div class="layui-input-block">
                                <textarea name="pay_key" placeholder="请输入内容" class="layui-textarea">{$user_data.pay_key}</textarea>
                            </div>
                        </div>
                        <div class="layui-form-item">
                            <div class="layui-input-block">
                                <button class="layui-btn" lay-submit="" lay-filter="setmyinfo">确认修改</button>
                                <button type="reset" class="layui-btn layui-btn-primary">重新填写</button>
                            </div>
                        </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{/block}