<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{~echo xn_cfg('base.sys_name')}</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <script>
        //全局上传文件端口
        var UPLOAD_FILE_URL = "{:url('upload_files/upload')}";
        //全局选择文件端口
        var SELECT_FILE_URL = "{:url('upload_files/select')}";
    </script>
    <script src="/static/admin/js/jquery-2.0.0.min.js"></script>
    <script src="/static/admin/js/common.js"></script>
    <script src="/static/admin/js/upload.js"></script>
    <script src="/static/admin/js/webuploader.min.js"></script>
    <link rel="stylesheet" href="/static/admin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/layuiAdmin.css" media="all">
    <link rel="stylesheet" href="/static/admin/style/base.css" media="all">
    {block name="css"}{/block}
</head>
<body>
{block name="body"}{/block}

<script src="/static/admin/layui/layui.all.js"></script>
<script src="/static/admin/js/admin.js"></script>
{block name="js"}{/block}
</body>
</html>