{extend name="iframe" /}

{block name="body"}
<div class="layui-form" lay-filter="layuiadmin-app-form-list" id="layuiadmin-app-form-list" style="padding: 20px 30px 0 0;">
    <form action="{:request()->url()}" method="post" class="xn_ajax" data-type="open">
        <div class="layui-form-item">
            <label class="layui-form-label">单页名称</label>
            <div class="layui-input-inline">
                <input type="text" name="title" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$info.title}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="text" name="sort" lay-verify="required" placeholder="" autocomplete="off" class="layui-input" value="{$info.sort}">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">状态</label>
            <div class="layui-input-inline">
                <input type="checkbox" lay-verify="required" lay-filter="status" name="status" lay-skin="switch" lay-text="正常|禁止" value="1" {if condition="$info['status'] eq 1"}checked{/if} >
            </div>
        </div>
        <div class="layui-form-item layui-form-text">
            <label class="layui-form-label">详情介绍</label>
            <div class="layui-input-block">
                <textarea name="detail" id="content">{$info.detail}</textarea>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button type="submit" lay-submit class="layui-btn">保存</button>
            </div>
        </div>
    </form>
</div>
{/block}
<!--编辑器-->

{block name="js"}
<script src="/static/admin/ueditor/ueditor.config.js"></script>
<script src="/static/admin/ueditor/ueditor.all.min.js"></script>
<script src="/static/admin/ueditor/lang/zh-cn/zh-cn.js"></script>
<script>
    UE.getEditor('content',{
        initialFrameWidth :1000,// 设置编辑器宽度
        initialFrameHeight:200,// 设置编辑器高度
        scaleEnabled:true
    });
</script>
{/block}