{extend name="main" /}

{block name="body"}
{include file="breadcrumb" /}
<div class="layui-fluid">
    <table class="layui-table" style="margin-top: 0;">
        <tr>
            <th><b>ID</b></th>
            <th><b>标题</b></th>
            <th><b>类型</b></th>
            <th><b>分类图片</b></th>
            <th><b>产品编号</b></th>
            <th><b>排序</b></th>
            <th style="padding: 0 15px;line-height: 40px;"><b>操作</b> <span style="float: right"><a href="{:url('add')}" data-width="800px" data-height="650px" class="layui-btn layui-btn-sm xn_open" title="新增幻灯">新增幻灯</a></span> </th>
        </tr>

        <tbody>
        {foreach name="list" item="vo"}
        <tr>
            <td>{$vo.id}</td>
            <td>{$vo.title}</td>
            <td>
                <a class="layui-btn layui-btn-sm">{:get_adinfo_type()[$vo.type]}</a>
            </td>
            <td><a href="javascript:;" onClick="showImg(this)" data-href="{$vo.image}" ><img src="{$vo.image}" width="50"></a></td>
            <td>{$vo.url}</td>
            <td>{$vo.sort}</td>
            <td>
                <a href="{:url('edit',array('id'=>$vo['id']))}" data-width="800px" data-height="650px" title="修改幻灯" class="layui-btn layui-btn-normal layui-btn-xs xn_open">
                    <i class="layui-icon layui-icon-edit"></i>修改
                </a>
                {if condition="$vo['id'] neq 1"}
                <a href="{:Url('delete',array('id'=>$vo['id']))}" title="确认要删除【{$vo.title}】吗？" class="layui-btn layui-btn-danger layui-btn-xs xn_delete">
                    <i class="layui-icon layui-icon-delete"></i>删除
                </a>
                {/if}
            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>
</div>
{/block}

{block name="js"}
<script>
    layui.form.on('switch(status)', function(data){
        //layer.tips('开关checked：'+ (this.checked ? 'true' : 'false'), data.othis)
        var val = this.checked ? 1 : 0;
        var id = $(this).attr('data-id');
        var url = "{:url('edit')}";
        $.post(url,{id:id,status:val},function (res) {
            console.log(res);
            layer.tips(res.msg, data.othis);
        },'json')
    });
</script>
{/block}